:root {
  --font-color: #222;
  --link-color: #0066C5;
  --primary-color: #362A65;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI',
    Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Arial, 'メイリオ',
    Meiryo, sans-serif;
  font-size: 14px;
  color: var(--font-color);
}

body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--font-color);
  margin: 0;
}
