.pagination .active > a
  color: $co-purewhite
.pagination
  display: flex
  justify-content: center

.pagination-page-link-anker
  color: $co-black
  cursor: pointer
.pagination-page-link
  display: flex
  align-items: center
  padding: 8px 16px
