.pagination .active > a
.pagination
  display: flex
  justify-content: center
  text-align: center
  li.active
    background-color: $co-orange

.pagination-page-link-anker
  color: $co-purewhite
  cursor: pointer
.pagination-page-link
  background: $co-gray
  display: flex
  align-items: center
  padding: 4px 10px
  margin-right: 16px
