.sidebar
  padding: 20px
  padding-left: 40px
  h3
    background: $co-black
    color: white
    font-size: 16px
    font-weight: bold
    padding: 10px
  .self-introduction
    padding: 10px 0px
    display: flex
    .profile-image
       padding: 5px
       width: 100px
       height: 100px
       img
         border-radius: 4px
         object-fit: cover
         height: 100%
    .introduction
       padding: 0 20px
       p
         margin: 4px
         font-size: 14px
  .card-image
    img
      border-radius: 4px
      border: 1px solid #d3d3d33d
  .archive-by-month-body
    margin: 50px 0px
    padding: 0

.flat-card
  display: flex
  align-items: center
  margin-bottom: 20px
  &:first-child
    margin-top: 20px
  .card-content
    padding: 10px
  .card-image
    height: 72px
    min-width: 100px
    max-width: 100px
    img
      object-fit: cover
      height: 100%
      width: 100%

