body
  color: $co-black
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Arial, "メイリオ", Meiryo, sans-serif
  font-size: 14px;
  letter-spacing: 0.1rem
  line-height: 1.5rem;
  background-color: $co-background-color
  margin: 0
html, body
  @media #{$medium-and-down}
    position: relative
    overflow-x: hidden

h1, h2, h3, h4, h5
  font-size: 1rem
  margin: 0
  color: $co-black

a
  color: #95c9d6
  text-decoration: none
  transition: .3s
  &:hover
    transform: scale(1.1)
    opacity: .6

li
  list-style: none

*, *:after, *:before
  box-sizing: border-box


.material-icons
  font-family: 'Material Icons'
