.flex
  display: flex

.header-image
  overflow-x: hidden
  width: 100%
  position: absolute
  z-index: -1
  img
    height: 100%
    width: 4000px
.header-image-small
  width: 100%
  position: absolute
  z-index: -1
  left: -5px
  img
    height: 100%
    width: 2000px
.footer-image
  overflow-x: hidden
  width: 100%
  img
    height: 100%
    width: 4000px
.footer
  text-align: center
  color: white
  position: relative
  top: 290px
  padding: 5px
.site-container
  display: flex
  max-width: 1200px
  flex-wrap: wrap
  .col
    margin: 0 auto

