.flex
  display: flex

.footer
  padding: 50px 0
  display: flex
  justify-content: center

.container
  max-width: $content-width
  width: 100%
  margin: auto
.container-narrow
  max-width: $content-narrow-width


.input
  padding: 8px 16px
  border-radius: 32px
  border: 1px solid #D8D8D8
  width: 100%
.input:focus
  border: 1px solid #8c8c8c
  outline: 0
.input::placeholder
  color: #D8D8D8;

